language: python
python:
- '2.7'
- '3.4'
- '3.5'
before_script:
- pip install -r requirements.txt
script: nosetests --with-cov --cov-report html --cov-config .coveragerc  --cov metapipe
  --cov test
after_success:
- coveralls
deploy:
  provider: pypi
  user: sonicrocketman
  password:
    secure: cfDJKNv1BMDsJ3NyOpjwVQwBwO3ZcDMVnEDmcNoS4bwONo/pF7+UFbNm/4+AG2Oo9W5u63YNoR/b1MajbaLd9gBCf7uymrOnLxVtFwq1JDb5BWOsegJwPtlxrKxjKjsBAp5BY7cqOivAWEJZuCi6XjNCyG+QSt0vXKqw4U2xqjfx3KtfSea1Hu0aN1YvFn1otod9faXPK80T/4AZ1Ytmauq12vzla1bLJz7djYS2ApBM+pEJodOhw9V53CknrBpm9SfgFRs5xOkKB7FY8Tq208AxDvcufxkwUsqzoipOzfGcBFhVQdREOOLbWUKmExufCHhyXWVmp7yrkLwGX4REWI+unq6SFU61mknVizLfphJ0DSLGWzcoPxwP3vk39q3PHP1XKojEkCicIb5C6r3YJqYpFtF83YjuEmJXew+9GdP1KWyWS5G1xslhxZvklAdkSPsn65GmABFsSNrMLyVdCTllGpgnjrpcbf1jEMP8MTp6+qc8YVjdEDtzgeJ8aoSyC6K9dRg95qixb1COqzTrF0N4LDKRGKKJrHFg+JXUZDSPYdpju5oz1ohm3/96SmdYGqL+ilO1RT3gxhlFV1X30AymAGUcVKCCLpj9dauQALeA16sKvtcFYVxjunjzJwz+OzM7AYlvFd+ak618x4btnmybsT0Nc93enT9seI+LSlE=
  on:
    tags: true
    distributions: sdist bdist_wheel
